# 2-1 숫자형

정수형

In [1]:
a = 123
print(a)
a = -178
print(a)
a = 0
print(a)

123
-178
0

실수형

In [2]:
a = 1.2
print(a)
a = -3.45
print(a)

1.2
-3.45

In [3]:
a = 4.24E10
print(a)
a = 4.24e-10
print(a)

42400000000.0
4.24e-10

8진수(0o or 0O)와 16진수(0x)

In [4]:
a = 0o177
a

127

In [5]:
a = 0x8ff
b = 0xABC
print(a, b)

2303 2748

복소수

In [6]:
a = 1 + 2j
b = 3 - 4J
print(a, b)

(1+2j) (3-4j)

In [7]:
a.real

1.0

In [8]:
a.imag

2.0

In [9]:
a.conjugate()

(1-2j)

In [10]:
abs(a)

2.23606797749979

사칙연산

In [11]:
a = 3
b = 4
a + b

7

In [12]:
a * b

12

In [13]:
a / b

0.75

x의 y제곱 나타내는 ** 연산자

In [14]:
a = 3
b = 4
a ** b

81

나눗셈 후 나머지 반환하는 % 연산자

In [15]:
7 % 3

1

In [16]:
3 % 7

3

나눗셈 후 소수점 아랫자리 버리는 // 연산자

In [17]:
7 / 4

1.75

In [18]:
7 // 4

1

# 2-2 문자열 자료형

큰따옴표("")로 양쪽 둘러싸기

In [19]:
"Hello World"

'Hello World'

작은따옴표('')로 양쪽 둘러싸기

In [20]:
'Python is fun'

'Python is fun'

큰따옴표 3개 연속("""""")으로 써서 양쪽 둘러싸기

In [21]:
"""Life is too short, You need python"""

'Life is too short, You need python'

작은따옴표 3개 연속('''''')으로 써서 양쪽 둘러싸기

In [22]:
'''Life is too short, You need python'''

'Life is too short, You need python'

문자열에 작은따옴표(') 포함시키기

In [23]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [24]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

문자열에 큰따옴표(") 포함시키기

In [25]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

\(백슬래시)를 이용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [26]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food, say)

Python's favorite food is perl "Python is very easy." he says.

줄 바꾸기 위한 이스케이프코드('\n') 삽입하기

In [27]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [28]:
print(multiline)

Life is too short
You need python

In [29]:
multiline = '''Life is too short
               You need python
            '''
multiline

'Life is too short\n               You need python\n            '

In [30]:
print(multiline)

Life is too short
               You need python

In [31]:
multiline = """
        Life is too short
        You need python
"""
multiline

'\n        Life is too short\n        You need python\n'

In [32]:
print(multiline)

        Life is too short
        You need python

문자열 연산하기

문자열 더해서 연결하기(Concatenate)

In [33]:
head = 'Python'
tail = ' is fun!'
head + tail

'Python is fun!'

문자열 곱하기

In [34]:
a = 'python'
a * 2

'pythonpython'

In [35]:
print('=' * 50)
print('My Program')
print('=' * 50)

==================================================
My Program
==================================================

문자열 인덱싱과 슬라이싱

In [36]:
a = 'Life is too short, You need Python'
a[3]

'e'

문자열 인덱싱 활용하기

In [37]:
a[0], a[12], a[-1]

('L', 's', 'n')

In [38]:
a[-0]

'L'

In [39]:
a[-2], a[-5]

('o', 'y')

문자열 슬라이싱

In [40]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [41]:
a[0:4]

'Life'

In [42]:
a[0:3]

'Lif'

In [43]:
a[0:5]

'Life '

In [44]:
a[0:2]

'Li'

In [45]:
a[5:7]

'is'

In [46]:
a[12:17]

'short'

In [47]:
a[19:]

'You need Python'

In [48]:
a[:17]

'Life is too short'

In [49]:
a[:]

'Life is too short, You need Python'

In [50]:
a[19:-7]

'You need'

In [51]:
a = '20010331Rainy'
date = a[:8]
weather = a[8:]
date, weather

('20010331', 'Rainy')

In [52]:
year = a[:4]
day = a[4:8]
weather = a[8:]
year, day, weather

('2001', '0331', 'Rainy')

In [53]:
a = 'Pithon'
a[:1] + 'y' + a[2:]

'Python'

문자열 포매팅

In [54]:
'I eat %d apples' % 3

'I eat 3 apples'

In [55]:
'I eat %s apples' % 'Five'

'I eat Five apples'

In [56]:
number = 3
'I eat %d apples' % number

'I eat 3 apples'

In [57]:
number = 10
day = 'three'
'I ate %d apples. So I was sick for %s days' %(number, day)

'I ate 10 apples. So I was sick for three days'

문자열 포맷코드

In [58]:
'I have %s apples' % 3

'I have 3 apples'

In [59]:
'rate is %s' % 3.234

'rate is 3.234'

포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.

In [60]:
'Error is %d%%' % 98

'Error is 98%'

포맷 코드와 숫자 함께 사용하기

1. 정렬과 공백

In [61]:
'%10s' % 'hi'

'        hi'

In [62]:
'%-10sjane.' % 'hi'

'hi        jane.'

2. 소수점 표현하기

In [63]:
'%0.4f' % 3.42134234

'3.4213'

In [64]:
'%10.4f' % 3.42134234

'    3.4213'

문자열 관련 함수들

문자 개수 세기(count)

In [65]:
a = 'hobby'
a.count('b')

2

위치 알려주기1(find)

In [66]:
a = 'Python is best choice'
a.find('b')

10

In [67]:
a.find('k')

-1

위치 알려주기2(index)

In [68]:
a = 'Life is too short'
a.index('t')

8

In [69]:
'''
문자가 없으므로 에러가 난다.

a.index('k')
'''

"\n문자가 없으므로 에러가 난다.\n\na.index('k')\n"

문자열 삽입(join)

In [70]:
a = ','
a.join('abcd')

'a,b,c,d'

소문자를 대문자로 바꾸기(upper)

In [71]:
a = 'hi'
a.upper()

'HI'

대문자를 소문자로 바꾸기(lower)

In [72]:
a = 'HI'
a.lower()

'hi'

왼쪽 공백 지우기(lstrip)

In [73]:
a = ' hi '
a.lstrip()

'hi '

오른쪽 공백 지우기(rstrip)

In [74]:
a.rstrip()

' hi'

양쪽 공백 지우기(strip)

In [75]:
a.strip()

'hi'

문자열 바꾸기(replace)

In [76]:
a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

문자열 나누기(split)

In [77]:
a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [78]:
a = 'a:b:c:d'
a.split(':')

['a', 'b', 'c', 'd']

고급 문자열 포매팅

In [79]:
'''숫자 바로 대입하기'''

'I eat {0} apples'.format(3)

'I eat 3 apples'

In [80]:
'''문자열 바로 대입하기'''

'I eat {0} apples'.format('five')

'I eat five apples'

In [81]:
'''숫자 값을 가진 변수로 대입하기'''

number = 3
'I eat {0} apples'.format(number)

'I eat 3 apples'

In [82]:
'''2개 이상의 값 넣기'''

number = 10
day = 'three'
'I ate {0} apples. so I was sick for {1} days'.format(number, day)

'I ate 10 apples. so I was sick for three days'

In [83]:
'''이름으로 넣기'''

'I ate {number} apples. so I was sick for {day} days'.format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days'

In [84]:
'''인덱스와 이름을 혼용해서 넣기'''

'I ate {0} apples. so I was sick for {day} days'.format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days'

In [85]:
'''왼쪽 정렬'''

'{0:<10}'.format('hi')

'hi        '

In [86]:
'''오른쪽 정렬'''

'{0:>10}'.format('hi')

'        hi'

In [87]:
'''가운데 정렬'''

'{0:^10}'.format('hi')

'    hi    '

In [88]:
'''공백 채우기'''
'{0:=^10}'.format('hi')

'====hi===='

In [89]:
'{0:!<10}'.format('hi')

'hi!!!!!!!!'

In [90]:
'''소수점 표현하기'''

y = 3.42134234
'{0:0.4f}'.format(y)

'3.4213'

In [91]:
'{0:10.4f}'.format(y)

'    3.4213'

In [92]:
''' '{' 또는 '}'문자 표현하기'''
'{{and}}'.format()

'{and}'

# 2-3 리스트 자료형

In [93]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [94]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
a, b, c, d, e

([],
 [1, 2, 3],
 ['Life', 'is', 'too', 'short'],
 [1, 2, 'Life', 'is'],
 [1, 2, ['Life', 'is']])

리스트의 인덱싱

In [95]:
a = [1, 2, 3]
a

[1, 2, 3]

In [96]:
a[0]

1

In [97]:
a[0] + a[2]

4

In [98]:
a[-1]

3

In [99]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[-1]

['a', 'b', 'c']

In [100]:
a[3]

['a', 'b', 'c']

In [101]:
a[-1][0]

'a'

In [102]:
a[-1][1], a[-1][2]

('b', 'c')

삼중 리스트에서 인덱싱하기

In [103]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

리스트와 슬라이싱

In [104]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [105]:
a = '12345'
a[0:2]

'12'

In [106]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b, c

([1, 2], [3, 4, 5])

중첩된 리스트에서 슬라이싱하기

In [107]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [108]:
a[3][:2]

['a', 'b']

리스트 연산자

1. 리스트 더하기(+)

In [109]:
a = [1, 2 ,3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

2. 리스트 반복하기(*)

In [110]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [111]:
a = [1, 2, 3]
str(a[2]) + 'hi'

'3hi'

리스트의 수정, 변경과 삭제

1. 리스트에서 하나의 값 수정하기

In [112]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

2. 리스트에서 연속된 범위의 값 수정하기

In [113]:
a[1:2]

[2]

In [114]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

리스트 수정할 때 주의할 점

In [115]:
a = [1, 2, 4]
a[1] = ['a', 'b', 'c']
a

[1, ['a', 'b', 'c'], 4]

3. [] 사용해 리스트 요소 삭제하기

In [116]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
a

[1, 'c', 4]

4. del함수를 사용해 리스트 요소 삭제하기

In [117]:
del a[1]
a

[1, 4]

리스트 관련 함수들

리스트에 요소 추가(append)

In [118]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [119]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

리스트 정렬(sort)

In [120]:
a = [1, 4, 3, 2]
a.sort()

In [121]:
a

[1, 2, 3, 4]

In [122]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

리스트 뒤집기(reverse)

In [123]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

위치 반환(index)

In [124]:
a = [1, 2, 3]
a.index(3)

2

In [125]:
a.index(1)

0

리스트에 요소 삽입(insert)

In [126]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [127]:
a.insert(3, 5)

In [128]:
a

[4, 1, 2, 5, 3]

리스트 요소 제거(remove)

In [129]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [130]:
a.remove(3)
a

[1, 2, 1, 2]

리스트 요소 끄집어내기(pop)

In [131]:
a = [1, 2, 3]
a.pop()

3

In [132]:
a

[1, 2]

In [133]:
a = [1, 2, 3]
a.pop(1)

2

In [134]:
a

[1, 3]

In [135]:
a = [1, 2, 3, 1]
a.count(1)

2

In [136]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [137]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

# 2-4 튜플 자료형

값을 바꾸거나 삭제할 수 없으니 새로 만들어야 한다.

1. 튜플 요소값 삭제 시 오류

2. 튜플 요소값 변경 시 오류

튜플의 인덱싱과 슬라이싱, 더하기(+)와 곱하기(*)

1. 인덱싱하기

In [138]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [139]:
t1[3]

'b'

2. 슬라이싱하기

In [140]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

3. 튜플 더하기

In [141]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

4. 튜플 곱하기

In [142]:
t2 * 3

(3, 4, 3, 4, 3, 4)

# 2-5 딕셔너리 자료형

In [143]:
dic = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [144]:
a = {1 : 'hi'}
a

{1: 'hi'}

In [145]:
a = {'a' : [1, 2, 3]}
a

{'a': [1, 2, 3]}

딕셔너리 쌍 추가, 삭제하기

1. 딕셔너리 쌍 추가하기

In [146]:
a = {1 : 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [147]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [148]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

2. 딕셔너리 요소 삭제하기

In [149]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

딕셔너리에서 Key 사용해 Value 얻기

In [150]:
grade = {'pey' : 100, 'julliet' : 99}
grade['pey']

100

In [151]:
grade['julliet']

99

In [152]:
a = {1 : 'a', 2 : 'b'}
a

{1: 'a', 2: 'b'}

In [153]:
a[1]

'a'

In [154]:
a[2]

'b'

In [155]:
a = {'a' : 1, 'b' : 2}
a['a']

1

In [156]:
a['b']

2

In [157]:
dic = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
dic['name']

'pey'

In [158]:
dic['phone']

'0119993323'

In [159]:
dic['birth']

'1118'

키 값이 중복되면 안 되고 연속된 시퀀스형이어도 안 된다.

In [160]:
a = {1 : 'a', 1 : 'b'}
a[1]

'b'

딕셔너리 관련 함수

Key 리스트 만들기(keys)

In [161]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [162]:
for k in a.keys():
    print(k)

name
phone
birth

In [163]:
list(a.keys())

['name', 'phone', 'birth']

Value 리스트 만들기(values)

In [164]:
a.values()

dict_values(['pey', '0119993323', '1118'])

Key, Value 쌍 얻기(items)

In [165]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

Key : VAlue 쌍 모두 지우기(clear)

In [166]:
a.clear()
a

{}

Key로 Value얻기(get)

In [167]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
a.get('name')

'pey'

In [168]:
a.get('phone')

'0119993323'

In [169]:
'''
Key값으로 nokey가 없으므로 에러가 난다.

a.get('nokey')
'''

"\nKey값으로 nokey가 없으므로 에러가 난다.\n\na.get('nokey')\n"

In [170]:
a.get('foo', 'bar')

'bar'

해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [171]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
'name' in a

True

In [172]:
'email' in a

False

# 2-6 집합 자료형

In [173]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [174]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [175]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [176]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [177]:
t1[0]

1

집합 자료형 활용하는 방법

교집합, 합집합, 차집합 구하기

In [178]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

1. 교집합

In [179]:
s1 & s2

{4, 5, 6}

In [180]:
s1.intersection(s2)

{4, 5, 6}

2. 합집합

In [181]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [182]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

3. 차집합

In [183]:
s1 - s2

{1, 2, 3}

In [184]:
s2 - s1

{7, 8, 9}

In [185]:
s1.difference(s2)

{1, 2, 3}

In [186]:
s2.difference(s1)

{7, 8, 9}

집합 자료형 관련 함수들

값 1개 추가하기(add)

In [187]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

값 여러 개 추가하기(update)

In [188]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

특정값 제거하기(remove)

In [189]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

# 2-7 자료형의 참과 거짓

In [190]:
a = [1, 2, 3, 4]

while a:
    a.pop()

In [191]:
if []:
    print('True')
else:
    print('False')

False

In [192]:
if [1, 2, 3]:
    print('True')
else:
    print('False')

True

# 2-8 자료형의 값을 저장하는 공간, 변수

In [193]:
a = 3
b = 'python'
c = [1, 2, 3]

In [194]:
type(3)

int

In [195]:
a = 3
b = 3
a is b

True

변수 만드는 여러 가지 방법

In [196]:
a, b = ('python', 'life')
a, b

('python', 'life')

In [197]:
a

'python'

In [198]:
b

'life'

In [199]:
[a, b] = ['python', 'life']
a

'python'

In [200]:
a = 3
b = 5
a, b = b, a
a, b

(5, 3)

메모리에 생성된 변수 없애기

In [201]:
a = 3
b = 3
del(a)
del(b)

리스트를 변수에 넣고 복사하고자 할 때

In [202]:
a = [1, 2, 3]
b = a
a[1]

2

In [203]:
a

[1, 2, 3]

In [204]:
a[1] = 4
a

[1, 4, 3]

In [205]:
b

[1, 4, 3]

1. [:] 이용

In [206]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [207]:
b

[1, 2, 3]

2. copy 모듈 이용

In [208]:
from copy import copy

b = copy(a)
b is a

False